<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliverable</title>
    <link rel="stylesheet" href="/Card-Memory-Game/styles/mainStyle.css">
</head>
<body>
    <h1>Memory Game</h1>
    <div class="page-container">
        <div class="content">
            <h2>Purpose of the Game</h2>
                <p>This game has 3 difficulty levels in which you can play:</p>
                <li>
                    Noob
                </li>
                <li>
                    Intermediate
                </li>
                <li>
                    Touch Grass
                </li>
                <br>
                <p>Please select the level you wish to play!</p>
                <p>WARNING: Speed will increase the harder the difficulty</p>
                <a href="/Card-Memory-Game/scripts/noob.js" class="level-links">
                    <button class="button" type="button" id="noob">Noob</button>
                </a>
                <a href="/Card-Memory-Game/scripts/mid.js" class="level-links">
                    <button class="button" type="button" id="mid">Intermediate</button>
                </a>
                <a href="/Card-Memory-Game/scripts/touch-grass.js" class="level-links">
                    <button class="button" type="button" id="touch-grass">Touch Grass</button>
                </a>
        </div>
    </div>
    <script src="/Card-Memory-Game/scripts/noob.js"></script>
    <script src="/Card-Memory-Game/scripts/mid.js"></script>
    <script src="/Card-Memory-Game/scripts/touch-grass.js"></script>
</body>
</html>